.class-top-img{
    width: 100%;
    padding: 180px 0;
    background: linear-gradient(rgba(123, 161, 137, 0.3), rgba(0, 0, 0, 0.8)), url(../img_class/bg.jpg);
    background-repeat: no-repeat;
}
.class-top-img h1{
    font-weight: 600;
    color: #fff;
}
.class-top-img p{
    color: #fff;
}

.tab-bar{
    background: #009970;
    padding: 30px;
}
.toeic p{
    color: #fff;
}
.toeic p, .speaking p{
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
}
.speaking:hover p{
    color: #fff;
}

.line1{
    width: 130px;
    height: 2px;
    background: #fff;
    margin-left: 200px;
}
.line2{
    width: 250px;
    height: 2px;
    background: #fff;
    margin-left: 150px;
    display: none;
}

.class-box{
    border: 1px solid rgb(192, 192, 192);
    margin: 50px 0;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.class-box-img{
    padding: 0;
    position: relative;
}
.class-box-img>.class-name>p{
    position: absolute;
    width: 60px;
    padding: 5px;
    background: #009970;
    color: #fff;
}
.class-box img{
    width: 100%;
    background: #f1f0f2;
}
.class-btn{
    width: 100%;
    height: 80px;
    background: #009970;
    position: absolute;
    top: 318px;
    display: none;
}
.class-btn>a{
    color: #fff;
    line-height: 80px;
    font-size: 1.6rem;
    display: block;
}

.class-box-title{
    padding: 60px 30px;
}
.class-box-title p:nth-child(3){
    float: right;
    padding-top: 100px;
    font-size: 1.5rem;
    margin: 0;
}
.class-box-title p:nth-child(3)>span{
    font-size: 3rem;
    color: #ff5252;
}


.toeic-speaking-class{
    display: none;
}

@media(max-width:1024px){
    .class-box{
        height: 300px;
    }
    .class-box img{
        width: 100%;
        height: 300px;
    }
    .class-box-title{
        padding: 30px 30px;
    }
    .class-box-title p:nth-child(3){
        padding-top: 30px;
        font-size: 1rem;
    }
    .line1{
        width: 110px;
        margin-left: 170px;
    }
    .line2{
        width: 230px;
        margin-left: 110px;
        display: none;
    }
    
}
@media(max-width:768px){
    .class-btn{
        position: absolute;
        bottom: 0;
    }
    .class-box-title p:nth-child(3){
        padding-top: 20px;
    }
    .class-box-title p:nth-child(3)>span{
        font-size: 2rem;
    }
    .line1{
        width: 100px;
        margin-left: 110px;
    }
    .line2{
        width: 210px;
        margin-left: 60px;
        display: none;
    }
}
@media(max-width:540px){
    .class-box{
        height: 200px;
    }
    .class-box img{
        height: 200px;
    }
    .class-box-title h3{
        font-size: 1.1rem;
    }
    .class-box-title p{
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-wrap:break-word; 
    }
    .class-box-title p:nth-child(3)>span{
        font-size: 1.5rem;
    }
    .class-box-img>.class-name>p{
        width: 40px;
        padding: 2px;
    }
    .line1{
        width: 85px;
        margin-left: 60px;
    }
    .line2{
        width: 170px;
        margin-left: 20px;
        display: none;
    }
    .toeic>p, .speaking>p{
        font-size: 1.2rem;
    }
}
@media(max-width:414px){
    .class-box{
        height: 180px;
    }
    .class-box img{
        height: 178px;
    }
    .class-box-title h3{
        font-size: 1rem;
    }
    .class-box-title p{
        font-size: 0.8rem;
    }
    .class-box-title p:nth-child(3)>span{
        font-size: 1.2rem;
    }
    .line1{
        width: 70px;
        margin-left: 40px;
    }
    .line2{
        width: 150px;
        margin-left: 0;
        display: none;
    }
}
@media(max-width:360px){
    .class-box-title{
        padding: 20px 10px;
    }
    .class-box-title h3{
        font-size: 0.8rem;
    }
    .class-box-title p{
        font-size: 0.6rem;
    }
    .class-box-title p:nth-child(3){
        padding-top: 20px;
    }
    .class-box-title p:nth-child(3)>span{
        font-size: 1rem;
    }
    .class-box{
        height: 160px;
    }
    .class-box img{
        height: 158px;
    }
    .line1{
        width: 60px;
        margin-left: 30px;
    }
    .line2{
        width: 120px;
    }
}